.checkout-steps {
  @include grid(3, 3, 1, 1, 4%, div, top);

  &__item {
    padding-top: 30px;
    border-top: 1px solid $color--lightGrey;

  	> div {
  	  position: relative;
  	  display: block;
  	  width: 190px;
  	  margin: auto;
  	  padding-left: 40px;

  	  &::after {
  	    position: absolute;
  	    top: 50%;
  	    left: 0;
  	    width: 25px;
  	    height: 25px;
  	    transform: translateY(-50%);
  	    content: "";
  	    background-repeat: no-repeat;
  	    background-size: cover;
  	    background-position: 50%;
  	  }
  	}

  	p {
  	  margin: 0;
  	}
  }

  &__shipping {
    &::after {
      background-image: svg-load('cart.svg', 'fill:' $color--lightGrey);
    }
  }

  &__payment {
    &::after {
      background-image: svg-load('cart.svg', 'fill:' $color--lightGrey);
    }
  }

  &__collect {
    &::after {
      background-image: svg-load('cart.svg', 'fill:' $color--lightGrey);
    }
  }

  &__title {
    font-size: $font-size-small;
  }

  &__description {
    font-size: $font-size-smallest;
    color: $color--grey;
  }
}