.language-switcher {
  display: inline-block;
  vertical-align: middle;
  margin-left: $base-gutter*1.5;
  width: 45px;
  height: 20px;

  &__list {
    position: relative;
    padding: 0 $base-gutter*0.4;
    margin-right: 4px;
    background-color: $color--white;
    z-index: 11;

    &::after {
      position: absolute;
      top: -4px;
      left: -4px;
      width: 100%;
      height: 100%;
      content: "";
      border: 4px solid $color--lighterGrey;
      z-index: -1;
    }
  }

  &__item {
    display: none;

    &.active {
      display: block;
    }

    a {
      display: block;
      padding: $base-leading*0.15 0;
      text-align: center;
    }
  }
}